.quarter-space-right {
  margin-right: 5px;
}

.quarter-space-left {
  margin-left: 5px;
}

.quarter-space-top {
  margin-top: 5px;
}

.quarter-space-bottom {
  margin-bottom: 5px;
}

.half-space-right {
  margin-right: 10px;
}

.half-space-left {
  margin-left: 10px;
}

.half-space-top {
  margin-top: 10px;
}

.half-space-bottom {
  margin-bottom: 10px;
}

.space-right {
  margin-right: 20px;
}

.space-left {
  margin-left: 20px;
}

.space-top {
  margin-top: 20px;
}

.space-bottom {
  margin-bottom: 20px;
}